
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">

</head>
<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <ul class="main-header-item-list">
                <li class="main-header-items"><a  href='/'>Shop</a></li>
                <li class="main-header-items"><a  href="/products">Products</a></li>
                <li class="main-header-items"><a  href="/cart">Cart</a></li>
                <li class="main-header-items"><a  href='/orders'>Orders</a></li>
                <li class="main-header-items"><a  href="/add-product">Add Product</a></li>
                <li class="main-header-items"><a  href="/admin-products">Admin Products</a></li>
                <li class="main-header-items"><a class="active" href="/contactus">Contact Us</a></li>

            </ul>
        </nav>
    </header>
    <main>
        <form action="/contactus" method="POST" class="product-form" >
            <div class="form-control">
                <label for="name" >Name</label>
            <input type="text" name="name" id="name"><br>
            <label for="email" >Email</label>
            <input type="email" name="email" id="email">
            </div>
            <button class="btn" type="submit" action="/success">Submit</button>
        </form>
    </main>
</body>
</html>


